

<div class = "container">
  <div class = "row">
    <div class = "col">
      <div>
        <label>Please select the customer from below.</label>
          <select id = "selectedCustomer">
              <%customerNames = @customers.map { |c| c.fullName}%>
              <option >--Select--</option>
              <%for i in 0..customerNames.count%>
              <option ><%=customerNames[i]%></option>
              <%end%>
          </select>
      </div>

      <div>
        <label>Please select the building of the customer.</label>
          <select id = "selectedBuilding" >
            <option >--Select--</option>
          </select>
      </div>

      <div>
      <label>Please select the battery of the building.</label>
          <select id = "selectedBattery">
            <option >--Select--</option>
          </select>
      </div>

      <div>
      <label>Please select the column of the battery.</label>
          <select id = "selectedColumn">
            <option >--Select--</option>
          </select>
      </div>

      <div>
        <label>Please select the elevator of the column.</label>
        <select id = "selectedElevator">
        <option >--Select--</option>
        </select>
      </div>

      <div>
      <label>Please select the employee incharge</label>
      <select id = 'employee'>
      </select>
      </div>

      <div>
        <label>Description<label>
        <input type = "text", id ="description">
      </div>

      <div id = 'submit'>
      <button type = 'button', class = 'btn btn-primary' >Submit</button>
      </div>
    </div> 

      <div class = "col">
      <label>Elobrate data will appear here.</label>
      <textarea readonly="readonly" id="readonly" rows="25" cols="50">
      </textarea>
      </div>
  </div>
</div>



  

  


  











