<br>
<br>
<br>
<br>
<br>
<br>
<div class = "container">
<h2>New Intervention</h2>
<h5>Please Make Sure all the Detailes are filled. If a Particular fleid is not nessary please change the option to N/A<h5>

<%= render 'form', intervention: @intervention %>
<div>
